@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300&family=Cormorant:ital,wght@0,300;0,600;1,300&family=DM+Serif+Display:ital@0;1&family=Antic+Didone&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfcf5;
}

.logo {
  font-family: Cormorant, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2em;
  color: rgb(85, 85, 85);
  letter-spacing: 0.3em;
  text-align: center;
  margin-bottom: 2.5rem;
}

.nav-links a {
  font-family:
    Antic Didone,
    serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  text-decoration: none;
  color: rgb(129, 129, 129);
  margin-right: 1rem;
}

header {
  text-align: center;
  padding: 1rem;
  border: 1px solid rgb(226, 226, 226);
}

.hero {
  position: relative;
  left: 10rem;
  top: 2rem;
  margin-bottom: 10rem;
  width: 100%;
}

.hero h2 {
  font-family: Cormorant, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 4em;
}

.hero p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 1.3rem;
  width: 70%;
  color: #4e4e4e;
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  background-color: rgb(36, 36, 36);
  margin-top: 3.5rem;
  color: white;
  letter-spacing: 0.2em;
  font-family: "Antic Didone", serif;
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
}

.hero span {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cormorant Garamond", serif;
  font-weight: 1em;
  font-size: 25em;
  color: #eeede5;
}

.features {
  border-top: 1px solid rgb(226, 226, 226);
  padding-top: 4rem;
  position: relative;
  text-align: center;
  margin-bottom: 7rem;
}

.card {
  display: inline-block;
  margin-right: 2rem;
}

.card h3 {
  font-family: Cormorant, serif;
  font-size: 1.5em;
  font-weight: 1em;
  font-size: 1.5em;
  border-top: 1px solid rgb(36, 36, 36);
  padding-top: 2rem;
}

.card p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #4e4e4e;
}

.about {
  text-align: center;
  background-color: #1a1714;
  padding: 100px;
}

.about h2 {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-size: 3em;
  color: #c9a96e;
}

.about p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #d6d6d6;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

footer p {
  color: #888888;
}
